[Unit]
AssertPathExists=/home/rosie/rosie_app
AssertPathExists=/usr/local/bin/rerun
Description=RosieApp as systemd Service

[Service]
WorkingDirectory=/home/rosie/rosie_app
ExecStart=/usr/local/bin/rerun --quiet --no-notify -p '**/*.{rb, py, ru}' /home/rosie/rosie_app/rosieapp_server.rb
Restart=on-failure

[Install]
WantedBy=multi-user.target
