[Unit]
AssertPathExists=/home/rosie/rosie_app
AssertPathExists=/usr/local/bin/rerun
Description=RosieApp as systemd Service

[Service]
User=rosie
WorkingDirectory=/home/rosie/rosie_app

Restart=on-failure

[Install]
WantedBy=multi-user.target
